{
  "transformer_path": "/datasets/dodd-frank-act-addendum/merge_ibmls.ibvextractor",
  "input_folder": "/datasets/dodd-frank-act-addendum/out/visual_refiner/refined_text",
  "input_glob": "*p0.*ibml",
  "group_by_glob_search_regex": "^.*/([^/].*)(p[0-9]+).*$",
  "group_by_glob_replace_regex": "\\1*ibml",
  "output_folder": "/datasets/dodd-frank-act-addendum/out/merged"
}