{
  "transformer_path": "/datasets/dodd-frank-act-addendum/visual_refiner.ibvextractor",
  "input_folder": "/datasets/dodd-frank-act-addendum/out/s1_process_files/images",
  "input_glob": "*.jpg.jpeg",
  "input_pair_search_regex": "^(.*)/images/(.*)\\.pdf_.*$,^(.*)/images/(.*)\\.pdf_.*$",
  "input_pair_replace_regex": "\\1/\\2.pdf.ibocr,/datasets/dodd-frank-act-addendum/fields_to_scrape.ibml",
  "output_folder": "/datasets/dodd-frank-act-addendum/out/visual_refiner"
}